{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "**/*.json",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "**/*.hbs",
      "options": {
        "semi": false
      }
    }
  ]
}
